.nav-products {
    // width: 100%;
    // background: black;
    // height: 40px;
    margin-top: 8px;
  span {
    margin: 20px;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
  }
}


.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}